*{
    padding: 0;
    margin: 0;
    list-style:none;
    outline:none;
    font-style: normal;
}
.left a{
    width: 40px;
    height: 70px;
   background: url("../imgs/qiehuan.png") no-repeat -83px 0;
    position: absolute;
    left: 0;
    opacity: 0.4;
    top: 220px;
    z-index: 99;
}
.left a:hover{
    background: url("../imgs/qiehuan.png") no-repeat 0 1px;
    opacity: 1;
}
.right a{
    width: 40px;
    height: 70px;
    background: url("../imgs/qiehuan.png") no-repeat -123px 0;
    position: absolute;
    right: 0;
    opacity: 0.2;
    top: 220px;
    z-index: 99;
}
.right a:hover{
    background: url("../imgs/qiehuan.png") no-repeat -43px 2px;
    opacity: 1;
}
#carousel{
    width: 1040px;
    height: 490px;
    overflow: hidden;
    position: relative;

}
#carousel_ul{
    position: absolute;
    left: 0;
}
#carousel_ul li{
    float: left;
}
#navA{
    position: absolute;
    bottom: 20px;
    left: 0;
}
#navA a{
    float: left;
    width: 12px;
    height: 12px;
    background: red;
    margin: 0 5px;
    opacity: 0.5;
    border-radius:50% ;
}
#navA a:hover{
    background: #25d2d2;
}
a:link,a:visited{ text-decoration:none;}
a:visited{
    color: #b1b5b6;!important;
}
.img1{
    margin:auto;
    width: 100%;
    height: 100px;
    background: url(../imgs/mi11.jpg) no-repeat center ;

}
.ms{
    width: 100%;
    height: 35px;
    margin-bottom:20px ;
    line-height: 35px;
    background: #3e3e3e;
}
.navP_UL{
    width:1320px;
    margin: 0 auto;
}
#app_li{
    position: relative;
}
#san{
    width: 0;
    height: 0;
    border: 6px transparent solid;
    border-bottom-color: aliceblue ;
    position: absolute;
    top: -12px;
    left: 40px;

}
#app {
    width: 100px;
    height: 100px;
    background: aliceblue;
    position: absolute;
    left: -26px;
    display: none;
    box-shadow:
            0 5px 10px 0  #888888,
            0 5px 20px 0 #888888;
    z-index: 999;
}
#app img {
    width: 60px;
    height: 60px;
    margin: 20px;
}
 .navP_UL > li {
     font-size: 12px;
     font-family: "微软雅黑";

     float: left;
 }
.navP_UL > li > a:link{
    color: #b1b5b6;
}
.navP_UL > li > a:hover{
    color: aliceblue;
}
.navP_UL > li > span{
     color: #4f5252;
     padding:0 10px 0 10px;

 }

.navP_UL > .ul_li{
    padding-left: 150px;
}

.navP_UL > .ul_li2{
    margin-left:50px ;
    width: 100px;
   text-align: center;
    background: #545457;
    position: relative;
}
#ul_a_box{
    width: 320px;
    height: 90px;
    background: aliceblue;
    position: absolute;
    display: none;
    left: -220px;
    text-align: center;
    line-height: 90px;
    box-shadow:
            0 5px 10px 0  #888888,
    0 5px 20px 0  #888888;
z-index: 999;
}
.navP_UL >.ul_li2 > a:hover{

    display: block;
    width: 100px;
    background: aliceblue;
}
.nav1{
    width: 1320px;
    height: 50px;
    line-height:50px ;
    margin: 0 auto 20px;

}
.nav1 .nav1_ul{
    padding-left: 300px;
}
#phone_li{
    position: relative;
}
#phone_div{
    width: 10000px;
    height: 300px;
    background-color:white ;
    position: absolute;
    z-index: 999;
    top: 70px;
    border-top: #e8e8e8 2px solid;
    left: -1000px;
    display: none;
}
#phone_ul{
    margin-left: 800px;
    margin-top: 50px;
}
#phone_ul li{
    width: 200px;
    float: left;

}
#phone_ul li img{
    border-right: 1px silver solid;
}
#phone_ul li span{
    width: 200px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;

}
#phone_ul li a:hover{
    color: black;
}
.phone_span1{
    color: #ffa500;
}
.phone_span{
    margin-top: 20px;
}
.nav1 .home{
    width: 55px;
    height: 55px;
    background-color: orange;
    background-image:url("../imgs/mi-logo.png") ,url("../imgs/mi-home.png");
    background-position:3px 3px,52px,3px;
    background-repeat: no-repeat ;
    transition: background-position .3s;
    float: left;
}
.nav1 .home:hover{
    background-position: -52px 3px,3px 3px;
}
.nav1> .nav1_ul >li{
    padding-right:20px ;
    float: left;
    height: 70px;
}
.nav1 .nav1_ul_li>a{
    display: inline-block;
    width: 100%;
}

.nav1 a:link{
    color: black;
}
.nav1 a:visited{
    color: black;
 }
.nav1 a:hover{
    color: coral ;
}

.nav1 > .nav1_ul1 > li{
    float: right;
}
.nav1_ul1 > .nav1_ul_li{
    width: 50px;

    text-align: center;
}
.nav1_ul1 > .nav1_ul_li{
    border: solid 1px #3e3e3e;
    border-left: none;
}
.nav1_ul1>.nav1_ul_li > a:hover{
     background: coral;
 }
.nav1_ul1 > .nav1_ul_li1{
    border-style: solid;
    border-width: 1px;
    border-color: #3e3e3e;
    position: relative;
}
#ss_div{
    width: 260px;
    height: 250px;
    border: #ef7a06 1px solid;
    background: #e8e8e8;
    position: absolute;
    display: none;
    left: -1px;
    z-index: 999;
}
#ss_ul li{
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #585c5c;
    text-indent: 1em;

}
#ss_ul li a{
    display: inline-block;
    width: 100%;
}
#ss_ul li a:hover{
    color:#585c5c ;
}
.ma{
    width: 1320px;
    height: 710px;
    margin: 0 auto;
    position: relative;

}
.add{
    width: 280px;
    height: 490px;
    float: left;
    background: #808080;

}

.add_ul a {

    display: inline-block;
    width: 280px;
    text-indent: 2em;
    font-size: 16px;
    height: 50px;
    line-height: 50px;

}
.add_ul span{
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: aliceblue;
    transform: rotate(45deg);/*旋转*/
    position: relative;
    left: 135px;
}
.add_ul .sp1,.add_ul .sp4{
    position: relative;
    left: 119px;
}
.add_ul .sp3{
    position: relative;
    left: 103px;
}

.add_ul {
    padding-top: 20px;
}
.add_ul a:link{
    font-style: normal;
    color: aliceblue;
}
.add_ul a:visited{
    color: aliceblue;
}
.add_ul a:hover{
    display: block;
    background: coral ;

}
.as{
    height: 490px;
    float:  left;
}
.add2{
    width: 630px;
    height: 180px;
    margin-top: 20px;
    float: left;
}
.add2_ul{
    display: inline-block;
    width: 276px;
    height: 180px;
    padding: 4px 0 4px 3px;
    background: #3e3e3e;

}
.add2_ul>li{
    display: inline-block;
    width: 69px;
    height: 28px;
    border: solid #4e4e4e 1px;
    padding:30px 10px;

    float: left;
}

.add2_ul a:link{
    font-family: "微软雅黑";

    font-style: normal;
    color: #b1b5b6;
}
.add2 > .add2_a1{
    margin-left: 22px;
}
.add2_ul a:hover{
    color: aliceblue;
}
.as2{
    width: 690px;
    height: 180px;
    float: left;
    margin-top: 20px;
}
.as2 >.as2_a1,.as2 >.as2_a2{
    margin-left: 22px;
}
.ma1{
    width: 100%;
    height: 3485px;
    background: #e8e8e8;

}
.ma1 > .ma1_add {
    width: 1320px;
    height: 480px;
    margin: 0 auto;
}
.ma1_add > h2{
    font-family: 宋体;
    font-weight: normal;
    padding:15px 0 ;
}
.ma1_add>.ma1_add_ul{
    width: 100%;
    height: 350px;

}
.ma1_add_ul >.ma1_add_ul_li1{
    display: inline-block;
    border-top: solid 1px red;
    width: 19%;
    height: 350px;
    padding-top: 40px ;
    background: #f1efef;
    text-align: center;
    float: left;
}
.ma1_add_ul_li1>.li_p1{
    color: red;
    font-family: 微软雅黑;
    font-size: 20px;
    padding-bottom: 40px ;
}
.ma1_add_ul_li1>.li_p2 {
    font-size: 14px;
    color: #8f9292;
    padding-top: 40px;

}
.ma1_add_ul_li1>.li_p3 {
    padding-top: 40px;
    font-size: 25px;
}
.ma1_add_ul_li1>.li_p3>.time1{
    display: inline-block;
    width: 40px;
    height: 30px;
    padding: 5px 0;
    color: white;
    text-align: center;

    background: black;
}
.ma1_add_ul_li2,.ma1_add_ul_li3,.ma1_add_ul_li4,.ma1_add_ul_li5{
    display: inline-block;
    width: 19%;
    height: 390px;
    background: white;
    border-top: solid 1px orange;
    text-align: center;
    margin-left: 16px;
    float: left;
}
.ma1_add_ul_li2>.li2_p1,.ma1_add_ul_li3>.li2_p1,.ma1_add_ul_li4>.li2_p1,.ma1_add_ul_li5>.li2_p1{

    padding-top: 30px;
}
.ma1_add_ul_li2>.li2_p2,.ma1_add_ul_li3>.li2_p2,.ma1_add_ul_li4>.li2_p2,.ma1_add_ul_li5>.li2_p2{
    padding-top: 20px;
    font-size: 14px;
}
.ma1_add_ul_li2>.li2_p3,.ma1_add_ul_li3>.li2_p3,.ma1_add_ul_li4>.li2_p3,.ma1_add_ul_li5>.li2_p3{
    color: #8f9292;
    font-size: 12px;
}
.ma1_add_ul_li2>.li2_p4,.ma1_add_ul_li3>.li2_p4,.ma1_add_ul_li4>.li2_p4,.ma1_add_ul_li5>.li2_p4{
    padding-top: 20px;
    font-size: 13px;
    color: coral;
    font-weight: bold ;
}
.ma1_add_ul_li2>.li2_p4>span,.ma1_add_ul_li3>.li2_p4>span,.ma1_add_ul_li4>.li2_p4>span{
    color: #8f9292;
    text-decoration: line-through;
}
.ma1_add_ul_li3{
    border-color: blueviolet;
}
.ma1_add_ul_li4{
    border-color: #3b863f;
}
.ma1_add_ul_li5{
    border-color: #e22b99;
}
.as3{
    width: 1320px;
    height: 180px;
    margin: 0 auto;

}
.ma1_add1{
    width: 1320px;
    height: 800px;
    margin: 0 auto;

}
.ma1_add1>.img2{
    width: 292px;
    height: 700px;
    float: left;!important;
}
.ma1_add1>h1{
    font-weight: normal;
    margin-bottom:20px ;

    font-family: 宋体;
}


.ma1_add1_ul_li2,.ma1_add1_ul_li3,.ma1_add1_ul_li4,.ma1_add1_ul_li5{
    display: inline-block;
    width: 18%;
    height: 345px;
    background: white;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 19px;
    float: left;!important;
}
.ma1_add1_ul_li2>.li2_p1,.ma1_add1_ul_li3>.li2_p1,.ma1_add1_ul_li4>.li2_p1,.ma1_add1_ul_li5>.li2_p1{

    padding-top: 30px;
}
.ma1_add1_ul_li2>.li2_p2,.ma1_add1_ul_li3>.li2_p2,.ma1_add1_ul_li4>.li2_p2,.ma1_add1_ul_li5>.li2_p2{
    padding-top: 20px;
    font-size: 14px;
}
.ma1_add1_ul_li2>.li2_p3,.ma1_add1_ul_li3>.li2_p3,.ma1_add1_ul_li4>.li2_p3,.ma1_add1_ul_li5>.li2_p3{
    color: #8f9292;
    font-size: 12px;
}
.ma1_add1_ul_li2>.li2_p4,.ma1_add1_ul_li3>.li2_p4,.ma1_add1_ul_li4>.li2_p4,.ma1_add1_ul_li5>.li2_p4{
    padding-top: 20px;
    font-size: 13px;
    color: coral;
    font-weight: bold ;
    font-family: 微软雅黑;
}
.ma1_add1 a:link{
    color: black;

}
.ma1_add1 a:visited{
    color: black;
}
.ma1_add1 a{
    transition:margin-bottom 0.5s ease,margin-top 0.5s ease;
}
.ma1_add1 a:hover{
    margin-bottom: 4px;
    margin-top:-4px ;
    box-shadow: 0 10px 15px -5px #a8a8a8,
               -3px 0 6px -5px #a8a8a8,
                0 3px 6px -5px #a8a8a8;
}
.ma1_add1_ul_li2,.ma1_add1_ul_li3,.ma1_add1_ul_li4{
    transition:margin-bottom 0.5s ease-out,margin-top 0.5s ease-out;
}
 .ma1_add1_ul_li2:hover,.ma1_add1_ul_li3:hover,.ma1_add1_ul_li4:hover{
     margin-bottom: 4px;
     margin-top:-4px ;
     box-shadow: 0 10px 15px -5px #a8a8a8,
     -3px 0 6px -5px #a8a8a8,
     0 3px 6px -5px #a8a8a8;
}

.ma1_add1_ul_li5:hover{

    box-shadow: 0 10px 15px -5px #a8a8a8,
    -3px 0 6px -5px #a8a8a8,
    0 3px 6px -5px #a8a8a8;
}
.ma1_as4{
    width: 1320px;
    height: 180px;

    margin: 0 auto;

}
.ma1_add2{
    width: 1320px;
    height: 780px;
    margin: 0 auto;

}
.ma1_add2_p{
    display: inline-block;
    float: right;
}
.ma1_add2 > h2{
    display: inline-block;
    margin: 30px 0;

}
.ma1_add2_sp{

   display: inline-block;
    font-family: 微软雅黑;
    font-size: 18px;
    margin: 40px 0 0 ;


}
.ma1_add2>p a:link,.ma1_add2_ul a:link,.ma1_add2>p a:visited,.ma1_add2_ul a:visited,.ma1_add2_ul1 a:visited,.ma1_add2_ul1 a:link{
    color: black;
}
.ma1_add2_ul{
    width: 1320px;
    height: 335px;
}
.ma1_add2>p a:hover{
    display: inline-block;
    color: orangered;
    border-bottom: solid 2px orangered;
}
.ma1_add2_ul_li1{
    width: 250px;
    height: 320px;
    background: #8f9292;
    float: left;
}
.ma1_add2_ul_li2,.ma1_add2_ul_li3,.ma1_add2_ul_li4,.ma1_add2_ul_li5{

    width: 19%;
    height: 319px;
    background: white;
    text-align: center;
    margin-left: 16px;
    float: left;
}
.ma1_add2_ul_li2>.li2_p1,.ma1_add2_ul_li3>.li2_p1,.ma1_add2_ul_li4>.li2_p1,.ma1_add2_ul_li5>.li2_p1{

    padding-top: 30px;
}
.ma1_add2_ul_li2>.li2_p2,.ma1_add2_ul_li3>.li2_p2,.ma1_add2_ul_li4>.li2_p2,.ma1_add2_ul_li5>.li2_p2{
    padding-top: 20px;
    font-size: 14px;
}
.ma1_add2_ul_li2>.li2_p3,.ma1_add2_ul_li3>.li2_p3,.ma1_add2_ul_li4>.li2_p3,.ma1_add2_ul_li5>.li2_p3{
    color: #8f9292;
    font-size: 12px;
}
.ma1_add2_ul_li2>.li2_p4,.ma1_add2_ul_li3>.li2_p4,.ma1_add2_ul_li4>.li2_p4,.ma1_add2_ul_li5>.li2_p4{
    padding-top: 20px;
    font-size: 13px;
    color: coral;
    font-weight: bold ;
}
.ma1_add2_ul_li2>.li2_p4>span,.ma1_add2_ul_li3>.li2_p4>span,.ma1_add2_ul_li4>.li2_p4>span,.ma1_add2_ul_li5>.li2_p4>span{
    color: #8f9292;
    text-decoration: line-through;
}
.ma1_add2_ul li,.ma1_add2_ul1 li{
    transition:margin-bottom 0.5s ease,margin-top 0.5s ease;
}
.ma1_add2_ul li:hover,.ma1_add2_ul1 li:hover{
    display: inline-block;
  margin-top: -4px;
    margin-bottom: 4px;
    box-shadow: 0 10px 15px -5px #a8a8a8,
    -3px 0 6px -5px #a8a8a8,
    0 3px 6px -5px #a8a8a8;
}
.ma1_add2_ul1_li5:hover,.ma1_add2_ul1_li6:hover{
    display: inline-block;
   margin-top: 0;
}

.ma1_add2_ul1{
    width: 1320px;
    height: 340px;
}
.ma1_add2_ul1_li1{
    width: 250px;
    height: 320px;
    background: #8f9292;
    float: left;
}
.ma1_add2_ul1_li2,.ma1_add2_ul1_li3,.ma1_add2_ul1_li4{

    width: 19%;
    height: 319px;
    background: white;
    text-align: center;
    margin-left: 16px;
    float: left;
}
.ma1_add2_ul1_li2>.li2_p1,.ma1_add2_ul1_li3>.li2_p1,.ma1_add2_ul1_li4>.li2_p1{

    padding-top: 30px;
}
.ma1_add2_ul1_li2>.li2_p2,.ma1_add2_ul1_li3>.li2_p2,.ma1_add2_ul1_li4>.li2_p2{
    padding-top: 20px;
    font-size: 14px;
}
.ma1_add2_ul1_li2>.li2_p3,.ma1_add2_ul1_li3>.li2_p3,.ma1_add2_ul1_li4>.li2_p3{
    color: #8f9292;
    font-size: 12px;
}
.ma1_add2_ul1_li2>.li2_p4,.ma1_add2_ul1_li3>.li2_p4,.ma1_add2_ul1_li4>.li2_p4{
    padding-top: 20px;
    font-size: 13px;
    color: coral;
    font-weight: bold ;
}
.ma1_add2_ul1_li2>.li2_p4>span,.ma1_add2_ul1_li3>.li2_p4>span,.ma1_add2_ul1_li4>.li2_p4>span {
    color: #8f9292;
    text-decoration: line-through;
}
.ma1_add2_ul1_li5,.ma1_add2_ul1_li6{
    width: 19%;
    height: 150px;
    background: white;
    margin-bottom: 18px;
    margin-left: 15px;
    float: left;

}

.ma1_add2_ul1_li5>.li2_p1{
    display: inline-block;
    margin-top: 30px;
    padding-right: 25px;
    float: right;
}
.ma1_add2_ul1_li5>.li2_p2{
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    float: left;
}
.ma1_add2_ul1_li5>.li2_p2>span{
    color: orangered;
}
.ma1_add2_ul1_li6 > .p1{
    display: inline-block;
    margin: 40px;

    float: right;
}

.ma1_add2_ul1_li6 > .p2{
    margin: 50px 20px 0 20px;
    clear: none;

}
.ma1_add2_ul1_li6 > .p2 >span{
   font-size: 12px;
    color: #a8a8a8;
}
.ma1_as5{

    width: 1320px;
    height: 150px;
    margin: 0 auto;
}
footer{
    width: 100%;
    height: 200px;
    background: white;
}
#footer_sp{
    display:block;
    width: 1320px;
    height: 150px;
    margin: 0 auto;
    padding-top: 20px;

}
.footer_img{
    margin-right: 10px;

}
#footer_sp >ul{
    float: left;
}
#footer_ul>li{
    float: left;
    position: relative;
    left: 70px;
    top: -20px;
    font-size: 12px;
}
#footer_ul >li>span{
    padding: 0 10px;
}
#footer_sp a:link{
    color: #3e3e3e;
}
#footer_sp a:visited{
    color: #3e3e3e;
}
#footer_sp a:hover{
    color: orangered;
}
.footer_ul1{
    float: left;
}
.footer_ul1>li{
    margin-top:30px ;
    position: relative;
    left: -395px;
    padding-right: 50px;
    float: left;
}
footer p{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #a8a8a8;
}